/**
 * 文档页面
 */

.examples-content {
    background-color: #fff;
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
}

.examples-content:after {
    clear: both;
    content: '';
    display: block;
}

.examples-article {
    float: right;
    width: 100%;
    position: relative;
    z-index: 100;
}

/*sidebar*/
.examples-left-sidebar {
    display: none;
    float: left;
    width: 240px;
    margin-left: -240px;
    padding-bottom: 40px;
    line-height: 2.1;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}
.examples-left-sidebar-inner {
    -webkit-position: sticky;
    position: sticky;
    top: 0;
}
.examples-doc {
    width: 240px;
    overflow: hidden;
}
.examples-doc,
.examples-doc ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.examples-doc-item {
    padding-left: 1em;
}
.examples-doc-level-1,
.examples-doc-level-2 {
    font-size: 16px;
    padding-left: 0;
}
.examples-doc-level-3 {
    font-size: 14px;
}

@media screen and (min-width: 1000px) {
    .examples-left-sidebar {
        display: block;
    }
    .examples-content-inner {
        margin-left: 240px;
    }
    .examples-content {
        box-shadow: 5px 5px 30px 0 rgba(0,0,0,.1);
        border-radius: 20px;
        margin-top: 30px;
    }
}
/*解决在 ios 中有2个body问题，导致上面的响应大小屏选择器失效，写2个选择器是怕组件升级把这里升挂了！！！*/
/*@xuexb*/
@media screen and (max-width: 1000px) {
    body.mip-fixedlayer mip-semi-fixed,
    #mip-semi-fixed0 {
        display: none !important;
    }
}

/**
 * 预览代码
 */

.mip-preview-btn {
    float: right;
    margin-top: -10px;
    padding-left: 26px;
    line-height: 25px;
    opacity: .6;
    background: url(/static/img/mip-extension-preview.svg) no-repeat;
    background-size: 20px 25px;
    cursor: pointer;
}

#example-lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

#example-lightbox .close-btn {
    display: none;
}

#example-lightbox .iphone {
    position: relative;
    width: 351.7px;
    height: 723.1px;
    margin: 10px auto;
    background-image: url(/static/img/iphone@2x_463a1e2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#example-lightbox iframe {
    position: absolute;
    top: 98px;
    left: 24px;
    width: 302px;
    height: 521px;
    border: 1px;
}


@media screen and (max-width: 420px) {
    #example-lightbox .iphone {
        position: absolute;
        top: 10px;
        width: 90%;
        height: 500px;
        margin: 0 5%;
        background: none;
    }

    #example-lightbox iframe {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
    }

    #example-lightbox .close-btn {
        position: absolute;
        z-index: 12;
        top: 15px;
        right: 21px;
        display: block;
        width: 35px;
        height: 35px;
        border: 0;
        border-radius: 50%;
        background-color: rgba(0,0,0,.4);
    }

    #example-lightbox .close-btn:before,
    #example-lightbox .close-btn:after {
        content: "";
        position: absolute;
        top: 6px;
        left: 17px;
        width: 1px;
        height: 23px;
        background-color: #fff;
    }

    #example-lightbox .close-btn:before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    #example-lightbox .close-btn:after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
}
