/**
 * mippath
 */

.mippath-content {
    background-color: #fff;
    max-width: 1000px;
    padding: 15px;
}

@media screen and (min-width: 767px) {
    .mippath-content {
        margin: 20px auto 0;
        padding: 60px 55px 40px;
    }
}

.mippath-tip {
    margin-top: 30px;
    margin-bottom: 20px;
}

.mippath-text textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.mippath-result {
    font-size: 14px;
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 10px;
    word-break: break-all;
    line-height: 2;
    padding-bottom: 40px;
}

.mippath-result span {
    display: inline-block;
    width: 85px;
}

.mippath-result .error {
    color: red;
}
.mippath-result strong {
    font-weight: normal;
    color: #c5643e;
    margin: 0;
}
