/**
 * post
 */

.post-content {
    background-color: #fff;
    max-width: 1000px;
    padding: 15px;
}

@media screen and (min-width: 767px) {
    .post-content {
        margin: 20px auto 0;
        padding: 60px 55px 40px;
    }
}

