/**
 * 重置样式
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body {
    text-align: left;
    color: #333;
    line-height: 1.6;
    background-color: #f2f2f2;
    font-family: -apple-system,"Helvetica Neue",Arial,"PingFang SC","Hiragino Sans GB",STHeiti,"Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC",SimSun,sans-serif;
    overflow-x: hidden;
}


/*文章标题*/
.article-header {
    position: relative;
}
.article-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
    color: #333;
    line-height: 1.5;
    font-weight: 400;
    border-bottom: 1px solid  #ccc;
    padding: 0 35px 10px 0;
}
.article-edit-link {
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    line-height: 56px;
    color: #228ae6;
}
.article-edit-link .fa {
    margin-right: 6px;
}
@media screen and (max-width: 767px) {
    .article-header h1 {
        font-size: 24px;
    }
    .article-edit-link {
        height: 46px;
        line-height: 46px;
    }
}

/*文章页脚*/
.article-footer {
    position: relative;
    margin: 20px 0;
    padding-top: 20px;
    border-top: 1px solid #e3e3e3;
    line-height: 1em;
    text-align: center;
    color: #999;
    font-size: 12px;
}

/*ie 升级*/
.update-ie {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
}
.update-ie p {
    padding-top: 30px;
}
.update-ie a {
    color: #009aed;
}
