/**
 * 时间线
 */
.timeline-content ul {
    list-style: none;
}
.timeline-content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #fff;
    padding: 60px 55px 40px;
    min-height: 650px;
    max-width: 1000px;
}

.timeline-content:after {
    clear: both;
    content: '';
    display: block;
}
.timeline-article {
    margin-left: 280px;
    border-left: 1px solid #e7e7e7;
}
.timeline-article-content .filter-item {
    padding-bottom: 20px;
}
.timeline-time {
    font-size: 14px;
    line-height: 14px;
    color: #666;
    position: relative;
    padding-left: 15px;
    top: -1px;
}
.timeline-time:before {
    content: '';
    width: 11px;
    height: 11px;
    border: 3px solid #a2b4c9;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -9px;
    top: -2px;
}
.timeline-title-wrap {
    font-size: 16px;
    line-height: 18px;
    padding: 5px 0 5px 15px;
    font-weight: 600;
}
.timeline-title-wrap span {
    margin-right: 5px;
    display: inline-block;
 }
.timeline-article-content .filter-item a {
    font-size: 13px;
    color: #0072ff;
    font-weight: normal;
}
.timeline-article-content .filter-item ul {
    list-style: none;
    padding-left: 30px;
    color: #666;
    list-style: disc;
}
.timeline-title-wrap span.timeline-split {
    font-size: 13px;
    margin-right: 0;
}

/*sidebar*/
.timeline-left-sidebar {
    width: 250px;
    float: left;
}
.timeline-left-sidebar .filter-result br {
    display: none;
}
.timeline-left-sidebar .filter-title {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
@media screen and (max-width: 767px) {
    .timeline-left-sidebar {
        float: none;
        width: 100%;
    }
    .timeline-article {
        margin-left: 0;
    }
    .timeline-content {
        margin-top: 0;
        padding: 0 20px;
    }
    .timeline-left-sidebar-inner .filter-list {
        height: 0;
        overflow: hidden;
    }
}
