.ui-dep-1
    box-shadow 0 1px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12)
.ui-dep-2
    box-shadow 0 1px 5px rgba(0, 0, 0, .2), 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)
.ui-dep-3
    box-shadow 0 1px 8px rgba(0, 0, 0, .2), 0 3px 4px rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12)
.ui-dep-4
    box-shadow 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12)
.ui-dep-5
    box-shadow 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px rgba(0, 0, 0, .14), 0 1px 14px rgba(0, 0, 0, .12)


.mip-layout-responsive-width-400
  max-width 400px
.mip-layout-responsive-width-800
  max-width 800px

*
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) !important

html
  font-family PingFang SC,Helvetica,Helvetica Neue,Hiragino Sans GB,Heiti SC,Microsoft YaHei,WenQuanYi Micro Hei,Arial,sans-serif
