.markdown-breadcrumb
  font-size 14px
  color #555
  margin-top 60px
  margin-bottom 40px
  @media screen and (max-width: 768px)
    margin-top 30px
    margin-bottom 40px

  span
    margin auto 10px
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
      color #999
    &.split
      margin 0
      color #999

