.markdown-toolbar
  padding 48px 0
  border-bottom 1px solid #eee
  span
    display inline-block
    height 36px
    padding 0 38px
    border-radius 19px
    font-size 14px
    border 1px solid #eee
    margin 0 10px
    line-height 36px
    &:first-child
      margin-left 0
    &:active
      background #f4f4f4
    @media screen and (min-width: 768px)
      &:hover
        background #f4f4f4



