// 单单是框架本身的

@import './common.styl'
@import './iconfont.css'
@import './layout.styl'
@import './layout-navbar.styl'

body
  &:before,
  &:after
    display none

.edit-content
  padding 72px 50px
  max-width 1200px
  margin 0 auto

  .edit-toolbar
    margin-top 10px
    line-height 60px
    font-size 16px
    font-weight bold

    .toolbar-button
      &:before
        content ''
        width 0
        height 0
        display inline-block
        // verticals-align middle
        border-width 4px
        border-top-color transparent
        border-bottom-color transparent
        border-right-color #555
        border-left-color transparent
        border-style solid
        margin-right .5em
        transform translateY(-25%)

  .edit-wrapper

    display flex
    .edit-iframe-wrapper
      width 320px
      position relative
      &:before
        content ''
        width 0
        height 0
        position absolute
        top 50%
        right -31px
        display block
        // verticals-align middle
        border-width 11px
        border-top-color transparent
        border-bottom-color transparent
        border-right-color #eee
        border-left-color transparent
        border-style solid
        z-index 20
        transform translateY(-50%)
      &:after
        content ''
        width 0
        height 0
        position absolute
        top 50%
        right -31px
        display block
        // verticals-align middle
        border-width 10px
        border-top-color transparent
        border-bottom-color transparent
        border-right-color #f7f7f7
        border-left-color transparent
        border-style solid
        z-index 20
        transform translateY(-50%)

    #edit-iframe
      border 1px solid #eee
      // box-shadow 0 1px 2px rgba(0, 0, 0, 0.3)

    .edit-code
      flex 1
      margin-left 30px
      position relative
      overflow auto

    .CodeMirror
      height 568px
      border 1px solid #eee
